@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cormorant:wght@300&family=Luckiest+Guy&display=swap");
header {
  /* background: red; */
}
.card {
  size: 24px;
  /* float: left; */
  /* padding-bottom: 100vw; */
  display: inline-block;
  width: 150px;
  border: 2px solid rgb(231, 203, 227);
  padding: 30px 10px;
  /* position: absolute; */
  margin-top: 205px;
  height: 165px;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  right: 12px;
  left: 600px;
  font-size: 15px;
  margin-left: 20px;
  /* vertical-align: middle; */
}
.Header {
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);

  background-image: url("https://thumbs.gfycat.com/UnfoldedRedJaguarundi-small.gif");
  object-fit: contain;

  height: 550px;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);

  /* padding: 5px; */
  text-align: center;
  -webkit-text-stroke: 1.5px rgb(29, 49, 42);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: "Barlow", sans-serif;
  font-size: 64px;
  padding-bottom: 6vw;
}

/* .Header::before {
  position: absolute;
  content: " ";
  display: block;
  left: -5%;
  bottom: -10px;
  transform: rotate(2deg);
  width: 110%;
} */
.head {
  position: absolute;
  margin: 200px 2px;
}
.bottom {
  color: black;
  /* position: absolute; */
  /* bottom: 8px; */
  /* left: 16px; */
  font-size: 22px;
  /* bottom: 12px; */
  /* left: 76px; */
  /* font-size: 18px; */
  /* bottom: -20px; */
  text-align: left;
  /* vertical-align: text-bottom; */
}
button {
  background-color: rgb(29, 49, 42);
  font-size: 21px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 150px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}

.background {
  background: linear-gradient(to bottom right, transparent 49.8) right / 59%
      100%,
    linear-gradient(to bottom right, transparent 49.8%) bottom right/153% 61%;
  background-repeat: no-repeat;
}

.box {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  border: 1px solid;
}

.Mission {
  font-family: "Cormorant", serif;
  font-size: 25px;
  /* background-color: #ff9e2c; */
  position: absolute;
  left: 0px;
  width: 40%;
  padding: 200px 60px;
  text-align: center;
  /* -webkit-text-stroke: 1.5px rgb(29, 49, 42); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.Languages {
  position: absolute;
  right: 0px;
  width: 50%;
  padding: 250px 0px;
  position: absolute;
}
.titles {
  color: rgb(29, 49, 42);
  font-family: "Barlow", sans-serif;
  font-size: 42px;
  /* margin: 20px 2px; */
}
.logo {
  width: 25%;
  height: 25%;
}

.Header.bg-static {
  background-color: #85c1e9;
  background-image: url("https://thumbs.gfycat.com/UnfoldedRedJaguarundi-small.gif");
  background-size: cover;
  background-position: center;
}

.skills {
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
  position: absolute;

  background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
  object-fit: contain;
  height: 550px;
  background-repeat: no-repeat;
  color: rgb(219, 159, 159);

  /* padding: 5px; */
  /* text-align: center; */
  /* -webkit-text-stroke: 1.5px rgb(29, 49, 42); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: "Barlow", sans-serif;
  padding-bottom: 6vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.icon {
  filter: invert(100%);
}
.project {
  size: 24px;
  color: aqua;
  /* float: left; */
  /* padding-bottom: 100vw; */
  display: inline-block;
  width: 245px;
  border: 2px solid rgb(231, 203, 227);
  padding: 30px 10px;
  /* position: absolute; */
  margin-top: 205px;
  height: 165px;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  right: 12px;
  left: 600px;
  font-size: 15px;
  margin-left: 20px;
}
.portfolio {
  color: rgb(29, 49, 42);
  font-family: "Barlow", sans-serif;
  font-size: 42px;
  /* margin: 200px 2px; */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  clip-path: polygon(100% 0, 100% 30%, 0 40%, 0 0%);

  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
